
body {
	background-color: #000000;
}


/****************/
/* HEADER*/
/****************/
nav:first-of-type button {   
	display: block;              
	width: 84%;                  
	max-width: 800px;            
	margin: 20px auto;          
	padding: 3%;               
	font-size: 24px;        
	font-weight: bold;      
	text-align: center;       
	border: none;              
	border-radius: 3%;          
	font-weight: 600;
	font-family: "Source Sans 3", sans-serif;
	font-size: 20px;
	background-color: #18864b;   
	color: #FFDD00;   	
}

@media(min-width:800px){
	nav:first-of-type button {
		display: none;
	}
}

nav:first-of-type button:hover, nav:first-of-type button:focus {
	background-color: #18864b;
  }

nav:first-of-type > ul {
	display: none;
	position: absolute;
	background-color: #000000;
	padding-right: 30em;
	min-width: 160px;
	z-index: 1;
}

nav:first-of-type > ul > li > a, summary {
	color: rgb(255, 255, 255);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-family: "Pathway Extreme", sans-serif;
	font-weight: 700;
	font-size: 0.9em;
	width: 100%;
	margin-left: -1em;
}

summary::-webkit-details-marker {
	display: none;
}

summary::after {
	content: '^';
	color:#FFDD00;
	padding-left: 12em;
}

 details summary ul a {
	line-height: 3em;
}

details ul a {
	color: white;	
	font-family: "Pathway Extreme", sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: 700;
}

.show {
	display: block !important;
}

header ul:nth-of-type(2) {
	display: flex;
	justify-content: center;
	margin-top: 0.5em;
	margin-bottom: -0.3em;
	padding: 0;
	list-style: none;
	gap: 0.4em;
}

@media(max-width:800px) {
nav:nth-of-type(2) ul {
	display: none;
}
}

nav:nth-of-type(2) ul {
	display: flex;
	justify-content: right;
	gap: 2.3em;
	margin-top: 4em;
	margin-right: 2em;
}

nav:nth-of-type(2) ul a {
	color: white;
	font-family: "Pathway Extreme", sans-serif;
	text-decoration: none;
	list-style: none;
	font-weight: 700;
	font-size: 0.9em;
}

@media(max-width:800px) {
	nav:nth-of-type(2) ul a {
		display: none;
	}
	}

@media(min-width:800px) {
	header ul:nth-of-type(2) {
		display: flex;
		justify-content: right;
		padding-right: 1em;
		margin-top: -9em;
	}
}


@media(max-width:800px){
	header > ul:first-of-type {
		display: none;
	}
}

@media(max-width:800px){
	header > ul:first-of-type a {
		display: none;
	}
}

header > ul:first-of-type {
	display: flex;
	justify-content: right;
	gap: 1em;
	margin-right: 1em;
}

header > ul:first-of-type a {
	color: #7AAA2B;
	text-decoration: none;
	list-style: none;
	font-family:"Source Sans 3", sans-serif;
}

header ul img {
	width: 2.5em;
	height: 2.5em;
}

.logo {
	display: flex;                 
	justify-content: center;    
	margin-top: -4em;  
}

@media (min-width: 800px) {
	.logo{
	 display: flex;
	 justify-content: left;
	 margin-left: 2em;
	 margin-top: -4em;
   }
 }

.logo img {
	height: 16em; 
	width: 10em;
}

@media (min-width: 800px) {
	.logo img{
		height: 13em;
		width: 8.2em;
   }
 }


h2 span {
	margin-left: -0.4em;
}

/****************/
/* FOOTER */
/****************/

footer ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer ul a {
	color: white;
	text-decoration: none;
	font-family: "Pathway Extreme", sans-serif;
	font-weight: bold;
	font-size: 1em;
	line-height: 2em;
	padding-right: 1em;
}

.social-links  {
	display: flex;
	justify-content: center;
	margin: 0;
	padding-left: 1em;
	list-style: none;
	gap: 1%;
}

.social-links img {
	height: 40px;
	width: 40px;
}

footer p{
	color: #6D6D6D;
	text-align: center;
	font-family: "Source Sans 3", sans-serif;
	line-height: 1.5em;
	width: 59%;
	margin-left: 5em;
}

footer p span{
	color: #BBBBBB;
	text-align: center;
	font-family: "Source Sans 3", sans-serif;
	line-height: 1.5em;
	margin-right: 2em;
	margin-left: 0.9em;
}